<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body>
    <form action="/otpVerification/" method="post"></form>
    {% csrf_token %}
    <fieldset>
        <div class="row">
            <div class="form-group">
                <label for="OTP">OTP:</label>
                <input type="number" placeholder="Enter your OTP" name="otp_submit">
            </div>

            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </div>
    </fieldset>
</body>
</html>