<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/signin/" method="post">
      {% csrf_token %}
      <fieldset>
        <label for="email">Email:</label>
        <input type="email" placeholder="Enter Your Email" name="email" />
        <br />
        <br />
        <br />
        <label for="password">Password:</label>
        <input type="password" placeholder="Enter Password" name="password" />

        <br />
        <br />
        <br />
        <button type="submit" style="color: blue; text-align: center">
          LogIn
        </button>
      </fieldset>
    </form>
  </body>
</html>
